<div class="wrapper">
  <h1>{{title}}</h1>
  <app-time [running]="isRunning" (timechange)="onTimechange($event)"></app-time>
  <div class="controls">
    <button type="button" (click)="startClock()">Start Clock</button>
    <button type="button" (click)="stopClock()">Stop Clock</button>
  </div>
  <app-retirement [nowtime]="currentTime"></app-retirement>
</div>

<!-- <p>{{currentTime | date: 'mediumTime'}}</p> -->
