<div class="retirementform">
    <h1>Retirement Income</h1>
    <p>
      <input size="8" id="howlong" type="text" [(ngModel)]="retirementYears" (input)="calculateIncome()">
      &nbsp;<label for="howlong">Years you will be retired.</label>
    </p>
    <p>
      <input size="8" id="howmuch" type="text" [(ngModel)]="retirementDollars" (input)="calculateIncome()">
      &nbsp;<label for="howmuch">Dollars you have saved.</label>
    </p>
    <p>
        <input size="8" id="rate" type="text" [(ngModel)]="earningsRate" (input)="calculateIncome()">
        &nbsp;<label for="rate">Interest rate for earnings.</label>
    </p>
    <p>
        <input size="8" id="income" type="text" [(ngModel)]="annualIncome">
        &nbsp;<label for="income">Expected annual income.</label>
    </p>
    <p>
        <input size="8" id="ssincome" type="text" [(ngModel)]="socsecIncome" (input)="calculateIncome()">
        &nbsp;<label for="ssincome">Social security annual income.</label>
    </p>
    <p>
        <input size="8" id="allincome" type="text" [(ngModel)]="totalIncome">
        &nbsp;<label for="allincome">Expected total annual income.</label>
    </p>
    <p>
        <input id="rdate" type="date" value="2040-01-01" [(ngModel)]="retirementDateString" (input)="calculateRetirementDate()">
        &nbsp;<label for="rdate">Retirement date.</label>
    </p>

    <p class="countdown"><span>{{getCountDown()}}</span><br>seconds to go before retirement<br>({{daysToGo}} days)</p>
</div>

