/* You can add global styles to this file, and also import other style files */
* {box-sizing: border-box;margin:0;padding:0;}
body {
  background-color:#147;
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color:white;
  margin:0 auto;
  max-width:420px;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1rem;
  border-radius: 0 0 20px 20px;
}

.wrapper h1 {
  font-size: 2.25rem;
  margin:0.5rem 0 1rem 0;
}
.nowdate, .nowtime {
  text-align:center;
  margin: 0.5rem 0 1rem 0;
}
.nowtime {
  font-size:2rem;
}

.controls {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  padding:1rem;
}

.controls button {
  -webkit-appearance: none;
  background: #ccc;
  color: #333;
  padding: 1rem;
  border-radius: 12px;
  font-size:1rem;
  cursor: pointer;
}
.controls button:hover, .controls button:focus {
  background: #147;
  color: #fff;
}

.retirementform p {
  margin:0.25rem 0;
}
p.countdown {
  text-align:center;
  line-height:1.5;
  margin:1rem 0 1rem 0;
}
p.countdown span {
  font-size:2rem;
}
